.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  align-items: center;
  place-items: center;

  height: 80vh;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  font-size: small;
}

.sp,
.eq {
  border: 10px solid #ffd700; /* border of the box*/
  border-radius: 50px;
  width: 400px;
  min-height: 800px;
  padding: 50px;
  text-align: center;
  font-size: 20px;
}

/* Styling for .sp */
.sp {
  background-color: #0d0d0d;
  color: #00ffff;
}

/* Styling for .eq */
.eq {
  background-color: #000020;
  color: #ffd700;
}
/*Style for profile text */
.tt { 
  text-align: left;
} 
/*Style for education*/
.eq1 {
  text-align: left;
}

.profile-pic:hover {
  transform: scale(1.2);

  transition: 0.3s;
}
.btn {
  background-color: #000020;
  color: #ffd700;
  border: 2px solid #ffd700;
  border-radius: 45px;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
}
.link:hover {
  background-color: #ffd700;
  color: #000020;
  border: 2px solid #000020;
  border-radius: 20px;
  transition: 0.3s;
}
body {
  background-color: #661267;
}
